@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-*: initial;
    --color-white: #FFFFFF;
    --color-gray-light: #EEEEEF;
    --color-gray-medium: #D9D9D9;
    --color-gray-dark: #3E3E3E;

    --font-urbanist: 'Urbanist', 'sans-serif';
    
}

